@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.VideoConverter .Landing {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoConverter .Landing .ProgressBar {
  width: 0%;
  border-bottom: 8px solid white;
  position: absolute;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.VideoConverter .Landing .Landingtext {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 12px;
  color: white;
}

.VideoConverter .Landing .Button {
  width: 120px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoConverter .Landing .Button .InputButton {
  width: 140px;
  height: 70px;
  background: white;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.VideoConverter .Landing .Button .InputButton:hover {
  background: none;
  border: 1px solid white;
  color: white;
}

.VideoConverter .Landing .Spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  background: url("./media/icons/spinner.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.VideoConverter .Landing .LoadingText {
  width: 300px;
  height: 60px;
  border-radius: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

.VideoConverter .Landing .DownloadBox {
  width: 500px;
  height: 200px;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

.VideoConverter .Landing .DownloadBox .DownloadIcon {
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.VideoConverter .Landing .DownloadBox .DownloadLink {
  width: 140px;
  height: 50px;
  background: white;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
}

.VideoConverter .Landing .DownloadBox .DownloadLink:hover {
  background: none;
  border: 1px solid white;
  color: white;
}

.VideoConverter .Workspace {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 2%;
  padding-right: 2%;
  background: white;
  display: none;
}

.VideoConverter .Workspace .VideoTitle {
  color: #353535;
  height: 0px;
}

.VideoConverter .Workspace .SettingsDiv {
  width: 100%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.VideoConverter .Workspace .SettingsDiv .SettingsToggler {
  width: 85%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.VideoConverter .Workspace .SettingsDiv .SettingsToggler .Toggler {
  width: 25%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #353535;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.VideoConverter .Workspace .SettingsDiv .SettingsToggler .Toggler:hover {
  background: rgba(218, 218, 218, 0.637);
}

.VideoConverter .Workspace .SettingsDiv .SettingsToggler .ActiveToggler {
  background: #353535;
  color: white;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings {
  width: 85%;
  height: 100%;
  padding: 1%;
  padding-top: 10%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #353535;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .FeatureValues {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 3px;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .FeatureValues .FeatureTitle {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .FeatureValues .FeatureValue {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 70px;
  height: 100%;
  background: #d2d2d2;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), color-stop(40%, rgba(201, 201, 201, 0.89)), color-stop(50%, rgba(194, 194, 194, 0.89)), color-stop(60%, rgba(201, 201, 201, 0.89)), to(#e6e6e6));
  background: linear-gradient(180deg, #e6e6e6 0%, rgba(201, 201, 201, 0.89) 40%, rgba(194, 194, 194, 0.89) 50%, rgba(201, 201, 201, 0.89) 60%, #e6e6e6 100%);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  color: #646464;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .FeatureValues .FeatureValue:nth-child(2) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .FeatureValues .FeatureValue:nth-last-child(1) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .FeatureValues .FeatureValue:hover {
  background: #d2d2d2;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), color-stop(56%, rgba(173, 173, 173, 0.89)), to(#d2d2d2));
  background: linear-gradient(180deg, #d2d2d2 0%, rgba(173, 173, 173, 0.89) 56%, #d2d2d2 100%);
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .FeatureValues .ActiveFeature {
  background: #383838;
  color: white;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .Bitrate, .VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .Framerate, .VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .VideoSize {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .Bitrate input, .VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .Framerate input, .VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .VideoSize input {
  width: 150px;
  height: 30px;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .rateInput {
  display: none;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .VideoSize {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .VideoSize .FeatureTitle {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .Heading {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 18px;
  font-weight: 400px;
  -webkit-box-shadow: 0 0 20px rgba(109, 109, 109, 0.116);
          box-shadow: 0 0 20px rgba(109, 109, 109, 0.116);
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .TimeFrameHolder {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .TimeFrameHolder #timeFrame {
  width: 200px;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .HoverDisplay {
  position: relative;
  z-index: 1;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .HoverDisplay::before {
  content: 'Slower speed gives better compression';
  width: 150px;
  height: 50px;
  padding: 5px;
  bottom: 50px;
  right: -50px;
  text-align: center;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .TogglerSettings .HoverDisplay:hover::before {
  display: block;
  right: -100px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper #videoTogglerSettings {
  display: inherit;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper #ConvertButton {
  width: 160px;
  height: 70px;
  background: green;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
  border-radius: 10px;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper #ConvertButton:hover {
  background: white;
  color: green;
  border: 1px solid green;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .convertButtonLabel {
  margin: 50px auto;
  border: 2px solid #35353559;
  padding: 20px;
  text-align: center;
  color: #353535;
  font-family: arial;
  position: absolute;
  right: -10%;
  bottom: 15%;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .convertButtonLabel::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #35353559;
  right: 80%;
  top: -23px;
}

.VideoConverter .Workspace .SettingsDiv .Wrapper .convertButtonLabel::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #fff;
  right: 80%;
  top: -18px;
}

.VideoConverter .slidecontainer {
  position: relative;
  z-index: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.VideoConverter .slidecontainer .FeatureTitle {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoConverter .slidecontainer::before {
  content: 'Lower crf values gives better compression and quality';
  width: 150px;
  height: 100px;
  padding: 5px;
  top: -30px;
  right: -150px;
  text-align: center;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 6px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.VideoConverter .slidecontainer:hover::before {
  display: block;
  right: -200px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoConverter .slidecontainer .slider {
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.VideoConverter .slidecontainer .slider:before {
  width: 0;
  height: 0;
}

.VideoConverter .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: ew-resize;
}

.VideoConverter .slidecontainer .slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: ew-resize;
}

.VideoConverter .RemoveAudio, .VideoConverter .OnlyAudio {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2px;
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}

.VideoConverter .RemoveAudio .FeatureTitle, .VideoConverter .OnlyAudio .FeatureTitle {
  width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.VideoConverter .RemoveAudio .switch, .VideoConverter .OnlyAudio .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.VideoConverter .RemoveAudio .switch input, .VideoConverter .OnlyAudio .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.VideoConverter .RemoveAudio .sliderSwitch, .VideoConverter .OnlyAudio .sliderSwitch {
  width: 50px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.VideoConverter .RemoveAudio .sliderSwitch:before, .VideoConverter .OnlyAudio .sliderSwitch:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.VideoConverter .RemoveAudio input:checked + .sliderSwitch, .VideoConverter .OnlyAudio input:checked + .sliderSwitch {
  background-color: #2196F3;
}

.VideoConverter .RemoveAudio input:focus + .sliderSwitch, .VideoConverter .OnlyAudio input:focus + .sliderSwitch {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.VideoConverter .RemoveAudio input:checked + .sliderSwitch:before, .VideoConverter .OnlyAudio input:checked + .sliderSwitch:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.VideoConverter .RemoveAudio .sliderSwitch.round, .VideoConverter .OnlyAudio .sliderSwitch.round {
  border-radius: 34px;
}

.VideoConverter .RemoveAudio .sliderSwitch.round:before, .VideoConverter .OnlyAudio .sliderSwitch.round:before {
  border-radius: 50%;
}

.feature-card-img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */